
header{
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: 100%;
    height: 4rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: $mb-2;
    background-color: var(--color_dark);
    color: var(--color_2);
    z-index: 10;
    nav{
        .menu {
            position: fixed;
            transform: translateY(-100%);
            transition: transform 0.2s;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99;
            background: var(--color_dark);
            opacity: 90%;
            color: var(--color_bg);
            list-style: none;
            padding-top: 4rem;

            .item_menu {
                display: block;
                margin: 2rem 4rem;
                font-size: $small-h2-font-size;

                a{
                    text-decoration: none;
                    color: var(--color_2);
                }
              }
              
            .item_menu:hover {
                text-decoration: underline;
            }
          }
        
          .active {
            transform: translateY(0);
          }
    }
      
    .btn_menu {
        z-index: 100;
        padding: $mb-1;
        border: none;
        border-radius: 40%;
        background: var(--color_2);

        img{
            min-width: 20px;
        }
    }    
}
