
header{
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    background-color: $color_8;
    color: $color_4;
    z-index: 10;
    nav{
        .menu {
            position: fixed;
            transform: translateY(-100%);
            transition: transform 0.2s;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99;
            background: $color_dark;
            color: $color_primary;
            list-style: none;
            padding-top: 4rem;

            .item_menu {
                display: block;
                margin: 2rem 4rem;
                font-size: 1.8rem;

                a{
                    text-decoration: none;
                    color: $color_3;
                }
              }
              
            .item_menu:hover {
                text-decoration: underline;
            }
          }
        
          .active {
            transform: translateY(0);
          }
    }
      
    .btn_menu {
        z-index: 100;
        padding: 1vw;
        border: none;
        cursor: pointer;
        width: 30px;
        background: none;
    }    
}
