main{
    width: 100vw;
    max-width: 100%;
    background: var(--color_bg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    section{
        padding: 10vh 2vw 0 2vw;
        min-height: 90vh;
    }

    h1{
        font-size: $small-h1-font-size;
        color: var(--color_dark);
    }

    h2{
        color: var(--color_dark);
        font-size: $small-h2-font-size;
        padding: $mb-1;
        z-index: 2;
        position: relative;
    }

    p, h3, label{
        color: var(--color-text);
    }

    .home{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        .home_data{
            line-height: 10vh;     
            font-size: large;
            width: 46vw;
            min-width: 228px;
            align-self: center;
            z-index: 2;

            .home_title{
                padding-left: 2vw;
                span{
                    color: var(--color_3);
                }
            }

            .button {
                text-decoration: none;
                background-color: var(--color_dark);
                color: var(--color_bg);
                margin-left: 2vw;
                padding: 2vh 2vw;
                border-radius: 0.5rem;
                border-width: 0px;
            }
    
        }

        .home_img{
            width: 50vw;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;

                img{
                    border-radius: 50%;
                    height: 50%;
                    min-height: 300px;
                    width: 80%;
                    min-width: 200px;
                    margin: $mb-2;
                }
        }

        svg{
            position: absolute;
            max-width: 100%;
            left: 0;
            top: 4rem;
            polygon{
                fill: var(--color_2);
            }
            
        }
    }

    .about{
        .container_about{
            position: relative;
            z-index: 2;
            p{
                padding: $mb-2;
                font-size: $small-normal-font-size;
                text-align: justify;
            }

            .container_phrases{
                .slider{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100vw;
                    max-width: 100%;
                    min-height: 20vh;
                    scroll-snap-type: x mandatory;
                    overflow-x: scroll;
                    background-color: var(--color_3);
                    border-radius: $mb-1;
                    
                    .card_phrase{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        object-fit: cover;
                        scroll-snap-align: center;
                        min-width: 220px;
                        margin: $mb-1;
                        padding: $mb-1;
                        border: 2px dotted var(--color_3);
                        border-radius: $mb-1;
                        background-color: var(--color_2);
                        color: var(--color_3);

                        h4{
                            text-align: justify;
                        }

                        p{
                            text-align: center;

                        }
                    }
                }
            }
        }

        .svg_about{
            position: absolute;
            left: 0;
            right: 0;
            top: 45rem;
            z-index: 1;
            path{
                fill: var(--color_2);
            }
            
        }
    }

    .skills{
        //background: url("../assets/cool-background.svg");
        background: var(--background-skills);

        p{
            padding: $mb-2;
            font-size: $small-normal-font-size;
            text-align: justify;
        }

        .skills__data {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: $mb-1;
            margin: 2vh;
            border-radius: $mb-1;
            background-color: var(--color_white);
            opacity: 60%;
            box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
        }
        .skills__icon {
            font-size: $small-h2-font-size;
            margin-right: 1vw;
            color: var(--color_dark);
        }
        .skills__names {
            display: flex;
            align-items: center;
        }
        .skills__bar {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: var(--color_2);
            filter: brightness(50%);
            height: 0.4rem;
            border-radius: 0.5rem;
        }
        .skills__html {
            width: 85%;
        }
        .skills__css {
            width: 85%;
        }
        .skills__javascript {
            width: 75%;
        }
        .skills__sql {
            width: 65%;
        }
        .skills__node {
            width: 60%;
        }
        .skills__react {
            width: 50%;
        }

    }

    .projects{
        .container_cards{
            display: grid;
            grid-template-columns: 1fr;
            gap: $mb-1;
            margin: $mb-2;
            justify-content: center;
            align-items: center;

            .card{
                border: 2px solid var(--color_dark);
                background-color: var(--color_3);
                border-radius: $mb-2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: $mb-2;
                min-height: 360px;
                min-width: 418px;
                position: relative;
                overflow: hidden;
                
                .img-project{
                    border-radius: $mb-2;
                    margin: $mb-2;
                    height: 20rem;   
                    width: 80%;
                    align-self: center;
                }

                .container{
                    padding: $mb-2;
                    display: flex;
                    flex-flow: column nowrap;
                    position: absolute;
                    justify-content: space-around;
                    background: var(--color_dark);
                    opacity: 0;
                    width: 100%;
                    height: 100%;

                    .btn_card {
                        border: none;
                        border-radius: 50%;
                        background: var(--color_2);
                        align-self: flex-end;
                        width: 3rem;
                        height: 3rem;
                        img{
                            height: 90%;
                            width: 90%;
                        }
                    }
                    
                    h3{
                        font-size: $small-normal-font-size;
                        padding: 0 $mb-1;
                        color: var(--color_bg);
                    }

                    p{
                        color: var(--color_2);
                        text-align: justify;
                        padding: $mb-1 $mb-2;
                    }

                    ul{
                        display: flex;
                        flex-direction: row;
                        padding: $mb-1;
                        justify-content: space-around;
                        list-style: none;
                        li{
                            i::before{
                                color: var(--color_bg);
                            }
                        }
                    }

                    .btn_projects{
                        padding: $mb-1;
                        margin: $mb-1;
                        border-radius: $mb-1;
                        margin: 0 auto;
                        text-decoration: none;
                        color: var(--color_dark);
                        background-color: var(--color_2);
                    }
                }
            }
        }
    }

    .contact{
        margin-bottom: 5vh;
        h3{
            padding: $mb-1;
            margin: $mb-1;
        }

        .cv_container, .linked_container, .github_container, .switch_container{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
        }

        .switch_container{
            .switch-button-container {
                display: inline-block;
                width: fit-content;
    
                .switch-button__checkbox {
                    display: none;
                }
    
                .switch-button__label {
                    background-color: red;
                    width: $mb-5;
                    height: $mb-2;
                    border-radius: 3rem;
                    display: inline-block;
                    position: relative;
                }
    
                .switch-button__label:before {
                    transition: .3s;
                    display: block;
                    position: absolute;
                    width: 1.4rem;
                    height: $mb-2;
                    background-color: white;
                    content: '';
                    border-radius: 50%;
                    box-shadow: inset 0px 0px 0px 1px black;
                }
    
                .switch-button__checkbox:checked + .switch-button__label {
                    background-color: green;
                }

                .switch-button__checkbox:checked + .switch-button__label:before {
                    transform: translateX(1rem);
                }
            }
   
        }

        .form{
            border: 2px solid var(--color_dark);
            border-radius: $mb-2;
            display: flex;
            flex-flow: column wrap;
            margin: 2% auto;
            justify-content: center;
            width: 80vw;
            padding: $mb-2;

            p{
                font-weight: bold;
                text-align: center;
                margin-bottom: $mb-1;
            }

            label{
                padding: $mb-1;

                .input_radio{
                    padding: $mb-1;
                    margin: $mb-1;
                    margin-left: $mb-1;
                }

                .input_text, textarea{
                    width:100%;
                    padding: $mb-1;
                    margin: $mb-1;
                    border-radius: $mb-1;
                }
            }

            .div_btn{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                padding: $mb-1;

                .btn_form{
                    width: 40%;
                    padding: $mb-1;
                    border: none;
                    border-radius: $mb-1;
                    background-color: var(--color_dark);
                    color: var(--color_3);
                }
            }
        }
    }

    .btn_night{
        width: 3rem;
        height: 3rem;
        border: 1px dashed var(--color_dark);
        border-radius: 50%;
        position: fixed;
        right: 5vw;
        bottom: 3vh;
        background-color: var(--color_2);
        z-index: $z-fixed;
        .icon_swap{
            padding: 5px;
            height: 90%;
            width: 90%;
        }
    }

    .btn_language{
        width: 8vw;
        height: 8vw;
        border: 1px dashed var(--color_dark);
        border-radius: 50%;
        position: fixed;
        right: 15vw;
        bottom: 3vh;
        background-color: var(--color_2);
        z-index: $z-fixed;
        img{
            padding: 5px;
        }
    }

    
}