@media screen and (min-width: $medium-device) {
    header{
        justify-content: space-between;
        nav{
            height: 100%;
            .menu{
                all:initial;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                height: 100%;

                .item_menu{
                    margin: 0;
                    padding: $mb-1;
                    font-size: $small-normal-font-size;
                    height: 100%;
                    a{
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }
                }
                
                .item_menu:hover{
                    background: var(--menu_gradient);
                    text-decoration: underline;
                    .fa-pagelines{
                        font-size: $mb-2;
                        margin-left: $mb-1;
                    }
                    
                }
            }
        }
        .btn_menu{
            display: none;
        }
    }

    main{
        .home{
            flex-flow: row nowrap;
            .button:hover{
                background: var(--btn_gradient);
                color: var(--color_dark);
            }
        }
        .about{
            .svg_about{
                top: 30rem;
            }
        }
        .projects{
            .container_cards{
                .card{
                    .container{
                        .btn_card{
                            visibility: hidden;
                        }
                    }
                    .container:hover{
                        opacity: 90%;
                    }
                }
            }       
        }
        .contact{
            .btn_form{
                font-size: $large-normal-font-size;
                font-weight: bold;
            }
            .btn_form:hover{
                background: var(--btn_gradient);
                color: var(--color_dark);
            }
        }
    }
}