//Break-points
$small-device: 576px;
$medium-device: 768px;
$large-device: 992px;
$extra-device: 1200px;

//Margins
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

//Font Size
$small-h1-font-size: 2rem;
$small-h2-font-size: 1.25rem;
$small-normal-font-size: 0.938rem;

//Colors
$color_primary:#D8F3DC;
$color_secundary:#B7E4C7;
$color_3:#95D5B2;
$color_4:#74C69D;
$color_5:#52B788;
$color_7: #2D6A4F;
$color_8: #1B4332;
$color_dark: #081C15;