.theme-light {
  --color_bg:#D8F3DC;
  --color_white:#FFF;
  --color_black:#000;
  --color-text:#000;
  --color_2:#95D5B2;
  --color_3:#2D6A4F;
  --color_dark: #081C15;
  --menu_gradient: linear-gradient(to bottom, var(--color_bg), var(--color_dark));
  --btn_gradient: linear-gradient(70deg, var(--color_bg), var(--color_dark));
  --background-skills: url("../assets/cool-background-light.svg");
}

.theme-dark {
  --color_bg:#0D1821;
  --color_white:#FFF;
  --color_black:#000;
  --color-text:#FFF;
  --color_2:#344966;
  --color_3:#F0F4EF;
  --color_dark: #BFCC94;
  --menu_gradient: linear-gradient(to bottom, var(--color_bg), var(--color_dark));
  --btn_gradient: linear-gradient(70deg, var(--color_bg), var(--color_dark));
  --background-skills: url("../assets/cool-background-dark.svg");
}

.laguage-spanish {
  --item-menu-about:"QUIEN SOY";
  --item-menu-skills:"HABILIDADES";
  --item-menu-projects:"PROYECTOS";
  --item-menu-contact:"CONTACTO";
}

/*normalizadores*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--color_dark);
  color: var(--color_2);
  z-index: 10;
}

header nav .menu {
  position: fixed;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--color_dark);
  opacity: 90%;
  color: var(--color_bg);
  list-style: none;
  padding-top: 4rem;
}

header nav .menu .item_menu {
  display: block;
  margin: 2rem;
  font-size: 1.25rem;
}

header nav .menu .item_menu a {
  text-decoration: none;
  color: var(--color_2);
}

header nav .menu .item_menu .fa-pagelines {
  color: var(--color_2);
  font-size: xx-small;
}

header nav .active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header .btn_menu {
  z-index: 100;
  padding: 0.5rem;
  border: none;
  border-radius: 40%;
  background: var(--color_2);
}

header .btn_menu img {
  min-width: 20px;
}

main {
  width: 100vw;
  max-width: 100%;
  background: var(--color_bg);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

main section {
  padding: 10vh 2vw 0 2vw;
  min-height: 90vh;
}

main h1 {
  font-size: 2rem;
  color: var(--color_dark);
}

main h2 {
  color: var(--color_dark);
  font-size: 1.25rem;
  padding: 0.5rem;
  z-index: 2;
  position: relative;
}

main p, main h3, main label {
  color: var(--color-text);
}

main .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .home .home_data {
  line-height: 10vh;
  font-size: large;
  width: 46vw;
  min-width: 228px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 2;
}

main .home .home_data .home_title {
  padding-left: 2vw;
}

main .home .home_data .home_title span {
  color: var(--color_3);
}

main .home .home_data .button {
  text-decoration: none;
  background-color: var(--color_dark);
  color: var(--color_bg);
  margin-left: 2vw;
  padding: 2vh 2vw;
  border-radius: 0.5rem;
  border-width: 0px;
}

main .home .home_img {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

main .home .home_img img {
  border-radius: 50%;
  height: 50%;
  min-height: 300px;
  width: 80%;
  min-width: 200px;
  margin: 1rem;
}

main .home svg {
  position: absolute;
  max-width: 100%;
  left: 0;
  top: 4rem;
}

main .home svg polygon {
  fill: var(--color_2);
}

main .about .container_about {
  position: relative;
  z-index: 2;
}

main .about .container_about p {
  padding: 1rem;
  font-size: 0.938rem;
  text-align: justify;
}

main .about .container_about .container_phrases .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  max-width: 100%;
  min-height: 20vh;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: scroll;
  background-color: var(--color_3);
  border-radius: 0.5rem;
}

main .about .container_about .container_phrases .slider .card_phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  scroll-snap-align: center;
  min-width: 220px;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px dotted var(--color_3);
  border-radius: 0.5rem;
  background-color: var(--color_2);
  color: var(--color_3);
}

main .about .container_about .container_phrases .slider .card_phrase h4 {
  text-align: justify;
}

main .about .container_about .container_phrases .slider .card_phrase p {
  text-align: center;
}

main .about .svg_about {
  position: absolute;
  left: 0;
  right: 0;
  top: 45rem;
  z-index: 1;
}

main .about .svg_about path {
  fill: var(--color_2);
}

main .skills {
  background: var(--background-skills);
}

main .skills p {
  padding: 1rem;
  font-size: 0.938rem;
  text-align: justify;
}

main .skills .skills__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0.5rem;
  margin: 2vh;
  border-radius: 0.5rem;
  background-color: var(--color_white);
  opacity: 60%;
  -webkit-box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
          box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

main .skills .skills__icon {
  font-size: 1.25rem;
  margin-right: 1vw;
  color: var(--color_dark);
}

main .skills .skills__names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .skills .skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--color_2);
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  height: 0.4rem;
  border-radius: 0.5rem;
}

main .skills .skills__html {
  width: 85%;
}

main .skills .skills__css {
  width: 85%;
}

main .skills .skills__javascript {
  width: 75%;
}

main .skills .skills__sql {
  width: 65%;
}

main .skills .skills__node {
  width: 60%;
}

main .skills .skills__react {
  width: 50%;
}

main .projects .container_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 0.5rem;
  margin: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .projects .container_cards .card {
  border: 2px solid var(--color_dark);
  background-color: var(--color_3);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  min-height: 360px;
  min-width: 418px;
  position: relative;
  overflow: hidden;
}

main .projects .container_cards .card .img-project {
  border-radius: 1rem;
  margin: 1rem;
  height: 20rem;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .projects .container_cards .card .container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: absolute;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: var(--color_dark);
  opacity: 0;
  width: 100%;
  height: 100%;
}

main .projects .container_cards .card .container .btn_card {
  border: none;
  border-radius: 50%;
  background: var(--color_2);
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 3rem;
  height: 3rem;
}

main .projects .container_cards .card .container .btn_card img {
  height: 90%;
  width: 90%;
}

main .projects .container_cards .card .container h3 {
  font-size: 0.938rem;
  padding: 0 0.5rem;
  color: var(--color_bg);
}

main .projects .container_cards .card .container p {
  color: var(--color_2);
  text-align: justify;
  padding: 0.5rem 1rem;
}

main .projects .container_cards .card .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

main .projects .container_cards .card .container ul li i::before {
  color: var(--color_bg);
}

main .projects .container_cards .card .container .btn_projects {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  margin: 0 auto;
  text-decoration: none;
  color: var(--color_dark);
  background-color: var(--color_2);
}

main .contact {
  margin-bottom: 5vh;
}

main .contact h3 {
  padding: 0.5rem;
  margin: 0.5rem;
}

main .contact .cv_container, main .contact .linked_container, main .contact .github_container, main .contact .switch_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contact .switch_container .switch-button-container {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .contact .switch_container .switch-button-container .switch-button__checkbox {
  display: none;
}

main .contact .switch_container .switch-button-container .switch-button__label {
  background-color: red;
  width: 2.5rem;
  height: 1rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}

main .contact .switch_container .switch-button-container .switch-button__label:before {
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
  position: absolute;
  width: 1.4rem;
  height: 1rem;
  background-color: white;
  content: '';
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 1px black;
          box-shadow: inset 0px 0px 0px 1px black;
}

main .contact .switch_container .switch-button-container .switch-button__checkbox:checked + .switch-button__label {
  background-color: green;
}

main .contact .switch_container .switch-button-container .switch-button__checkbox:checked + .switch-button__label:before {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

main .contact .form {
  border: 2px solid var(--color_dark);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 2% auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  padding: 1rem;
}

main .contact .form p {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

main .contact .form label {
  padding: 0.5rem;
}

main .contact .form label .input_radio {
  padding: 0.5rem;
  margin: 0.5rem;
  margin-left: 0.5rem;
}

main .contact .form label .input_text, main .contact .form label textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

main .contact .form .div_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem;
}

main .contact .form .div_btn .btn_form {
  width: 40%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color_dark);
  color: var(--color_3);
}

main .btn_night {
  width: 3rem;
  height: 3rem;
  border: 1px dashed var(--color_dark);
  border-radius: 50%;
  position: fixed;
  right: 5vw;
  bottom: 3vh;
  background-color: var(--color_2);
  z-index: 100;
}

main .btn_night .icon_swap {
  padding: 5px;
  height: 90%;
  width: 90%;
}

main .btn_language {
  width: 8vw;
  height: 8vw;
  border: 1px dashed var(--color_dark);
  border-radius: 50%;
  position: fixed;
  right: 15vw;
  bottom: 3vh;
  background-color: var(--color_2);
  z-index: 100;
}

main .btn_language img {
  padding: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--color_2);
  width: 100vw;
  max-width: 100%;
  height: 8vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
  font-weight: bold;
  padding: 5vh;
}

@media screen and (min-width: 576px) {
  header {
    padding: 0 1rem;
  }
  main p {
    font-size: 1rem;
  }
  main .home .home_img img {
    max-height: 320px;
    max-width: 240px;
  }
  main .projects .container_cards {
    margin: 1rem 3rem;
  }
  main .projects .container_cards .card img {
    max-width: 400px;
  }
  main .projects .container_cards .card .container i::before {
    font-size: 2rem;
  }
  main .btn_night {
    height: 4rem;
    width: 4rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav {
    height: 100%;
  }
  header nav .menu {
    all: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
  }
  header nav .menu .item_menu {
    margin: 0;
    padding: 0.5rem;
    font-size: 0.938rem;
    height: 100%;
  }
  header nav .menu .item_menu a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .menu .item_menu:hover {
    background: var(--menu_gradient);
    text-decoration: underline;
  }
  header nav .menu .item_menu:hover .fa-pagelines {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  header .btn_menu {
    display: none;
  }
  main .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  main .home .button:hover {
    background: var(--btn_gradient);
    color: var(--color_dark);
  }
  main .about .svg_about {
    top: 30rem;
    max-height: 58rem;
  }
  main .projects .container_cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  main .projects .container_cards .card .container .btn_card {
    visibility: hidden;
  }
  main .projects .container_cards .card .container:hover {
    opacity: 90%;
  }
  main .contact .btn_form {
    font-size: 1.25rem;
    font-weight: bold;
  }
  main .contact .btn_form:hover {
    background: var(--btn_gradient);
    color: var(--color_dark);
  }
}

@media screen and (min-width: 1200px) {
  header i {
    font-size: 2rem;
  }
  header nav .menu .item_menu {
    font-size: 1.5rem;
  }
  main h1 {
    font-size: 3rem;
  }
  main h2 {
    font-size: 2rem;
  }
  main .about .container_about p {
    font-size: 1.5rem;
  }
  main .skills p, main .skills .skills_names {
    font-size: 1.5rem;
  }
  main .skills .skills_data {
    max-width: 50vw;
  }
}
/*# sourceMappingURL=style.css.map */