/*normalizadores*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vw;
  background-color: #1B4332;
  color: #74C69D;
  z-index: 10;
}

header nav .menu {
  position: fixed;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #081C15;
  color: #D8F3DC;
  list-style: none;
  padding-top: 4rem;
}

header nav .menu .item_menu {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
}

header nav .menu .item_menu a {
  text-decoration: none;
  color: #95D5B2;
}

header nav .menu .item_menu:hover {
  text-decoration: underline;
}

header nav .active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header .btn_menu {
  z-index: 100;
  padding: 1vw;
  border: none;
  cursor: pointer;
  width: 30px;
  background: none;
}

main {
  width: 100vw;
  background: #D8F3DC;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8vh;
}

main section {
  padding: 10vh 2vw 0 2vw;
}

main h2 {
  color: #081C15;
  padding: 2vh;
  z-index: 2;
  position: relative;
}

main .home {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .home .home_data {
  line-height: 10vh;
  font-size: large;
  width: 46vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 2;
}

main .home .home_data .home_title {
  padding-left: 2vw;
}

main .home .home_data .home_title span {
  color: #74C69D;
}

main .home .home_data .button {
  text-decoration: none;
  background-color: #081C15;
  color: #D8F3DC;
  margin-left: 2vw;
  padding: 2vh 2vw;
  border-radius: 0.5rem;
  border-width: 0px;
}

main .home .home_img {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

main .home .home_img .img_container {
  border: 1px solid #081C15;
  border-radius: 50%;
  height: 50vh;
  width: 30vw;
}

main .home .home_img img {
  border-radius: 50%;
  height: 50vh;
  width: 30vw;
}

main .home svg {
  position: absolute;
  left: 0;
}

main .about .container_about {
  position: relative;
  z-index: 2;
}

main .about .container_about p {
  padding: 1vh 3vw;
}

main .about .container_about .container_phrases .slider {
  height: 50vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: transform(0.3s ease-out), transform(0.3s ease-out);
  transition: transform(0.3s ease-out), transform(0.3s ease-out);
  transition: transform(0.3s ease-out);
  cursor: -webkit-grab;
  cursor: grab;
}

main .about .container_about .container_phrases .slider .card_phrase {
  max-height: 50vh;
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: transform(0.3s ease-out), transform(0.3s ease-out);
  transition: transform(0.3s ease-out), transform(0.3s ease-out);
  transition: transform(0.3s ease-out);
}

main .about .container_about .container_phrases .grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

main .about .container_about .container_phrases .grabbing .card_phrase {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

main .about .svg_about {
  position: absolute;
  top: 70vh;
  z-index: 1;
}

main .skills {
  background: url("../assets/cool-background.svg");
}

main .skills .skills__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0.5rem 1rem;
  margin: 2vh;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
          box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

main .skills .skills__icon {
  font-size: 2rem;
  margin-right: 1vw;
  color: #081C15;
}

main .skills .skills__names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .skills .skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #52B788;
  height: 0.25rem;
  border-radius: 0.5rem;
}

main .skills .skills__html {
  width: 85%;
}

main .skills .skills__css {
  width: 85%;
}

main .skills .skills__javascript {
  width: 75%;
}

main .skills .skills__sql {
  width: 65%;
}

main .skills .skills__node {
  width: 60%;
}

main .skills .skills__react {
  width: 50%;
}

main .projects .container_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 10px;
  margin: 10px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .projects .container_cards .card {
  border: 2px solid #081C15;
  background-color: #74C69D;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5vw;
}

main .projects .container_cards .card img {
  border-radius: 20%;
  padding: 2%;
  height: 60vh;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .projects .container_cards .card .container {
  padding: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .projects .container_cards .card .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2% 5%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

main .contact {
  margin-bottom: 5vh;
}

main .contact h3 {
  padding: 1%;
  margin: 1%;
}

main .contact .cv_container, main .contact .linked_container, main .contact .github_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contact .switch_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main .contact .switch_container .switch-button {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main .contact .switch_container .switch-button .switch-button__checkbox {
  display: none;
}

main .contact .switch_container .switch-button .switch-button__label {
  background-color: red;
  width: 8vw;
  height: 4vw;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}

main .contact .switch_container .switch-button .switch-button__label:before {
  -webkit-transition: .2s;
  transition: .2s;
  display: block;
  position: absolute;
  width: 4.2vw;
  height: 4vw;
  background-color: white;
  content: '';
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 1px black;
          box-shadow: inset 0px 0px 0px 1px black;
}

main .contact .switch_container .switch-button .switch-button__checkbox:checked + .switch-button__label {
  background-color: green;
}

main .contact .switch_container .switch-button .switch-button__checkbox:checked + .switch-button__label:before {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

main .contact .form {
  border: 2px solid #081C15;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 2% auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 2%;
}

main .contact .form p {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}

main .contact .form label {
  padding: 1% 2%;
}

main .contact .form label .input_radio {
  padding: 1%;
  margin: 1%;
  margin-left: 5%;
}

main .contact .form label .input_text, main .contact .form label textarea {
  width: 100%;
  padding: 1%;
  margin: 1%;
}

main .contact .form .div_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2%;
}

main .contact .form .div_btn .btn_form {
  width: 40%;
  padding: 2%;
}

main .btn_night {
  width: 8vw;
  height: 8vw;
  border: 1px dashed #081C15;
  border-radius: 50%;
  position: fixed;
  right: 5vw;
  bottom: 3vh;
}

main .btn_night img {
  padding: 5px;
}

main .btn_language {
  width: 8vw;
  height: 8vw;
  border: 1px dashed #081C15;
  border-radius: 50%;
  position: fixed;
  right: 15vw;
  bottom: 3vh;
}

main .btn_language img {
  padding: 5px;
}

main .icon_swap {
  font-size: 2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #B7E4C7;
  width: 100vw;
  height: 8vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
  font-weight: bold;
  padding: 5vh;
}
/*# sourceMappingURL=style.css.map */